
body {
  background-color: #064663;
}
img {
  width: 800px;
  position: relative;
  left: 1000px;
  bottom: 210px;
}

nav{
  background-color: #781D42;
  height: 100px;
}
.seccion1{
  background-color: #DD4A48;
}
.texto{
  width: 49%;
}
.redes{
  width: 800px;
  position: relative;
  left: 1000px;
  bottom: 210px;
}
